.custom-badge .mat-badge-content{
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;

}

.custom-badge .mat-icon{
    font-size: 32px;
    width: 32px;
    height: 32px;
}

a {
    &.active{
        color: #7d00fa;
    }
}

.bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)) /* #ffffff */ !important;
}

.top-0 {
    top: 0px !important;
}

.top-20 {
    top: 5rem /* 80px */ !important;
}